
.transform-style-3d {
  transform-style: preserve-3d;
  perspective: 1000px;
}


.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transition-transform {
  transition: transform 0.6s ease-in-out;
}
